/*  your css code here. If applicable */
body{
	position:absolute;
	top:30%;
	left:30%
}
.fig{
	
	position:relative;
	height:300px;
	width:300px;
	background-color:lightblue;
	border:2px solid black;
	bottom:50%;
}
.gif{
	text-align:center;
	position:relative;
	top:50%;
	
}